@use "../../styles/variables" as v;

.shape {
  background-color: v.$purple-dark;
  width: 72px;
  height: 72px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  display: grid;
  place-content: center;

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 72px;
    height: 36px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 50%;
    background-color: v.$purple-light;
    z-index: 1;

    @media (min-width: v.$md) {
      width: 100px;
      height: 50px;
    }
  }

  @media (min-width: v.$md) {
    width: 100px;
    height: 100px;
  }
}

.logo {
  z-index: 2;
}

.group {
  display: flex;
  align-items: center;

  @media (min-width: v.$md) {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}

.toggle {
  background: none;
  border: none;
  border-right: 1px solid #494e6e;
  padding-right: 24px;
  align-self: stretch;

  @media (min-width: v.$md) {
    padding-right: 0;
    padding-bottom: 24px;
    border-right: none;
    border-bottom: 1px solid #494e6e;
    justify-content: stretch;
  }
}

.avatar {
  margin: 20px 24px;
  display: grid;
  place-content: center;
  img {
    border-radius: 50%;
  }
}
