@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.container {
  @include m.button-group(0.49rem, 2.3vw, 0.75rem);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--main-bg);

  @media (min-width: v.$md) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  &.editGroup {
    justify-content: flex-end;
  }

  &.addGroup {
    @media (min-width: v.$md) {
      justify-content: space-between;
    }
  }
}
