@use "../../styles/variables" as v;

.container {
  display: flex;
  flex-direction: column;

  @media (min-width: v.$md) {
    flex-direction: row;
  }
}

.header {
  max-height: 72px;
  overflow: hidden;
  position: fixed;
  z-index: 15;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$lm-bg-dark-1;
  justify-content: space-between;

  @media (min-width: v.$md) {
    position: relative;
    max-width: 100px;
    min-height: 100vh;
    flex-direction: column;
    flex-basis: 100%;
    border-top-right-radius: 20px;
  }
}

.main {
  margin-top: 72px;
  position: relative;
  z-index: 5;
  flex-basis: 100%;

  @media (min-width: v.$md) {
    margin-top: 0;
    height: 100vh;
    overflow-y: auto;
  }
}
