@use "../../styles/modules";

.button {
  @extend .button--primary;

  flex-basis: 90px;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.span {
  display: grid;
  place-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5em;
}
