@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.status {
  text-transform: capitalize;

  > span {
    padding: 0.75rem 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    border-radius: 6px;
  }
}

.pending {
  background-color: rgba(v.$orange, 7.5%);
}

.pending span {
  color: v.$orange;
}

.paid {
  background-color: rgba(v.$green, 7.5%);
}

.paid span {
  color: v.$green;
}

.draft {
  background-color: rgba(var(--draft-color), 7.5%);
}

.draft span {
  color: rgb(var(--draft-color));
}

.circle {
  @include m.circle(8px);

  display: inline-block;
  margin-right: 0.5rem;

  .paid & {
    background-color: v.$green;
  }

  .pending & {
    background-color: v.$orange;
  }

  .draft & {
    background-color: rgb(var(--draft-color));
  }
}
