@use "./variables" as v;
@use "./mixins" as m;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: v.$font-family;
  background-color: v.$lm-main-bg;

  @media (min-width: v.$md) {
    overflow: hidden;
  }
}

main {
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-family: v.$font-family;
}

button {
  padding: 0;
  background: 0;
  border: 0;
  font-weight: 700;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

input[type="text"] {
  @include m.form-control;
}

// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 2rem;
  line-height: 1.125;
  letter-spacing: -1px;
}

h2,
.h2 {
  font-size: 1.25rem;
  line-height: 1.1;
  letter-spacing: -0.63px;
}

h3,
.h3 {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.8px;
}

.h3.alt {
  font-size: 0.9375rem;
  line-height: 1.25;
  letter-spacing: -0.31px;
  font-weight: 700;
}

h4,
.h4,
p,
span.text,
input {
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: -0.25px;
}

input {
  font-weight: 700;
}

p,
p.alt {
  font-weight: 500;
}

p.alt,
th.alt {
  font-size: 0.6875rem;
  line-height: 1.64;
  letter-spacing: -0.23px;
}
