@use "./variables" as v;

.container {
  padding: 2rem 1.5rem;
  max-width: 730px;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 8px;
}

.text-dark {
  color: v.$gray-dark;
}

.text-light {
  color: v.$button-light-color;
}

.text-purple {
  color: v.$purple-dark;
}

.bg-light {
  background-color: white;
}

.text-bold {
  font-weight: 700;
}

// Flex

.d-flex {
  display: flex;
}

.align-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

// Spacing

.pb-1 {
  padding-bottom: 0.5rem;
}

.mx-1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
