@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

$purple-dark: #7c5dfa;
$purple-light: #9277ff;
$gray-light: #dfe3fa;
$gray-light-rgb: 223, 227, 250;
$gray-dark: #888eb0;
$gray-alt: #777f98;
$orange: #ff8f00;
$green: #33d69f;
$lm-bg-dark-1: #373b53;
$lm-bg-dark-1-rgb: 55, 59, 83;
$lm-bg-dark-2: #0c0e16;
$dm-bg-dark-1: #1e2139;
$bg-dark-2: #252945;
$lm-main-bg: #f8f8fb;
$dm-main-bg: #141625;
$button-light-bg: #f9fafe;
$button-light-color: #7e88c3;
$danger: #ec5757;
$danger-light: #ff9797;

$sm: 375px;
$md: 768px;
$lg: 1440px;

$font-family: "Spartan", sans-serif;
